{
    admin off
}

# We answer all requests with the contents of this file:
#   https://internetarchive.github.io/nomad/ci.yml

:5000 {
	rewrite * /nomad/ci.yml
	reverse_proxy https://internetarchive.github.io
}
