on: [push, workflow_dispatch]
jobs:
  cicd:
    # https://github.com/internetarchive/cicd
    uses: internetarchive/cicd/.github/workflows/cicd.yml@main
    with:
      NOMAD_VAR_HOSTNAMES: '["nomad","nomad.archive.org"]'
      NOMAD_VAR_MEMORY: 100 # xxx
      NOMAD_VAR_CHECK_PROTOCOL: 'tcp'
      BASE_DOMAIN: 'ext.archive.org'
    secrets:
      NOMAD_TOKEN_EXT: ${{ secrets.NOMAD_TOKEN_EXT }}
